#
#
# Example env vars - copy to '.env' (Git ignored) before editing
#
#

# Host port to use to access the container
PORT=8080

# Miniflux app user login details
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Postgres 18 database user password
POSTGRES_PASSWORD=
